 <!-- temp, delete -->
 <head>
   <link rel="stylesheet" href="./prev-entries.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100.. 800;1,100..800&display=swap" rel="stylesheet">
 </head>

 <body>
   <div class="journal-bg"></div>
   <div id="header">
     <button id="profile">
       AU
     </button>
     <button id="home" (click)="onJournalNavigate()">
       Return
     </button>
   </div>

   <div class="data">
     <!-- This is where data is stored from the users game time and stats -->
   </div>

   <div class="prev-journal">
     <!-- Loading state -->
     <div *ngIf="loading" class="loading">
       Loading your journal entries...
     </div>

     <!-- Error state -->
     <div *ngIf="error" class="error">
       {{ error }}
     </div>

     <!-- Journal entries -->
     <table *ngIf="!loading && !error">
       <tr *ngFor="let entry of entries; let i = index">
         <td>
           <div id="generated_journal" 
                (mouseenter)="onEntryHover(entry)" 
                (mouseleave)="onEntryLeave()">
             <div id="header">
               Entry #{{ i + 1 }}
             </div>
             <div id="body">
               {{ entry.entry }}
             </div>
           </div>
           <div class="journal-sidebar" id="journal_side">
             <div class="sentiment_analysis" *ngIf="hoveredEntry && hoveredEntry.sentiment !== undefined && hoveredEntry.sentiment !== null">
               <div id="title">Sentiment Analysis</div>
               <div id="data">
                 {{ hoveredEntry.sentiment }}
               </div>
             </div>
           </div>
         </td>
       </tr>

       <!-- No entries message -->
       <tr *ngIf="entries.length === 0">
         <td>
           <div id="generated_journal">
             <div id="header">
               No Journal Entries Yet
             </div>
             <div id="body">
               You haven't written any journal entries yet. 
               <button (click)="onJournalNavigate()" class="nav-button">Start your first entry!</button>
             </div>
           </div>
         </td>
       </tr>
     </table>
   </div>

 </body>
