body{
  font-family:"JetBrains Mono", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  overflow: hidden;
  background-color: #FEFCF3;
}

#header{
  height:50px;
}

#profile{
  position:relative;
  float:right;
  margin-right:15px;
  top:30px;
  font-size:1.5em;
  font-weight:bold;
  width:50px;
  height:50px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
}
#profile:hover{
  background-color: #EBB3AA;
  cursor:pointer;
}
#profile:active{
  background-color: #CB938A;
}


#home{
  position:relative;
  float:left;
  margin-left:15px;
  font-size:1.5em;
  top:30px;
  width:120px;
  height:50px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
}
#home:hover{
  background-color: #EBB3AA;
  cursor:pointer;
}
#home:active{
  background-color: #CB938A;
}

.sentiment_analysis{
  position:relative;
  float:left;
  font-size:1.5em;
  width:225px;
  margin:35px;
  height:100px;
  margin-top:100px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
}


.gamer_stats{
  position:relative;
  float:left;
  margin-right:15px;
  font-size:1.5em;

  width:225px;
  margin:35px;
  margin-top:20px;
  height:100px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
}

.gamer_time{
  position:relative;
  float:left;
  margin-right:15px;
  font-size:1.5em;

  width:225px;
  margin:35px;
  margin-top:20px;
  height:100px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
}

#journal{
  width:65%;
  height:90%;
  position:relative;
  background-color: #F0DBDB;
  float:right;
  top:10%;
  right:10%;
  border-radius:40px;
}

#form_subject{
  font-size: 2em;
  font-style:oblique;
  font-weight:lighter;
  width:90%;
  border:none;
  font-size:3em;
  border-bottom: 2px solid #DBA39A;
  justify-content: center;
  margin:5%;
  margin-top:5%;
  margin-bottom:0;
  align-items: center;
  background-color:inherit;

}

#form{
  font-size: 2em;
  font-style:oblique;
  font-weight:lighter;
  border:none;
  justify-content: center;
  margin:10%;
  margin-bottom:0;
  margin-top:5%;
  width:80%;
  height:55%;
  align-items: center;
  background-color:inherit;

}

#Sentiment{
  position:relative;
  float:right;
  margin-right:15px;
  width:140px;
  height:50px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
  font-size:1.2em;
}
#no_Sentiment{
  position:relative;
  float:right;
  margin-right:15px;
  font-size:1.2em;
  width:120px;
  height:50px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
}
#Sentiment:hover{
  background-color: #EBB3AA;
  cursor:pointer;
}
#Sentiment:active{
  background-color: #CB938A;
}

#no_Sentiment:hover{
  background-color: #EBB3AA;
  cursor:pointer;
}
#no_Sentiment:active{
  background-color: #CB938A;
}


#title{
  font-size: .5em;
  font-style:oblique;
  font-weight:bold;
  width:90%;
  border:none;
  border-bottom: 2px solid #DBA39A;
  justify-content: center;
  margin:5%;
  margin-top:5%;
  margin-bottom:0;
  align-items: center;

}
#data{
  margin-top:20px;
  font-size:1.5em;
  width:100%;
  text-align: center;
   align-items: center;
   justify-content: center;
}
