main{
  font-family:"JetBrains Mono", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  overflow: hidden;
  background-color: #FEFCF3;
}
#name{
  font-size:4em;
  font-style:oblique;
  font-weight:lighter;
  margin: auto;
  position:relative;
  top:50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#header{
  height:50px;
}

#signup{
  position:relative;
  float:right;
  margin-right:15px;
  top:30px;
  width:180px;
  height:50px;
  border-radius: 25px;
  background-color: #DBA39A;
  border: 2px solid black;
  filter: drop-shadow(8px 8px 10px gray);
}
#signup:hover{
  background-color: #EBB3AA;
  cursor:pointer;
}
#signup:active{
  background-color: #CB938A;
}

#image{
  position:relative;
  float:right;
  width: 65%;
  height: 700px;
  left:40px;
  margin: 10px;
  margin-right: 0px;
  border-radius: 40px;
  background-color: #F0DBDB;
  background-image: url("https://coolwallpapers.me/th700/5242257-pencil-book-journal-writing-notebook-diary-blank-page-creative-desk-open-new-start-tabel-note-writers-block-creative-commons-images.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main_data{
  margin-top:130px;
}
#floating_box{
  position:relative;
  top:40px;
  width: 35%;
  margin:10px;
  border-radius: 40px;
  background-color: #F0DBDB;

}

#floating_box > #title {
  font-size: 2em;
  font-style:oblique;
  font-weight:lighter;
  border-bottom: 2px solid #DBA39A;
  justify-content: center;
  margin:10%;
  margin-bottom:0;
  align-items: center;
}

#floating_box > #text {
  margin: 10%;
  margin-top:3%;
  padding-bottom:50px;
}
